@import '../assets/styles/design';

.vehicallist-header {
  margin-bottom: 5rem;
}

.vehicalcycle-list-header-container {
  background: none;
}

.model-header {
  text-align: center;
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.m-header {
  margin-top: 5rem;
}

.modelheader-ptag {
  font-size: small;
}

.model-name {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: #5d5e5e;
}

.modal {
  display: none;
  position: absolute;
  z-index: 101;
  padding-top: 35px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-bottom: 35px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: auto;
  border-radius: 15px;
  box-shadow:
    0.3px 0.5px 0.7px rgb(161, 231, 208),
    0.8px 1.6px 2px -0.8px rgb(132, 179, 163),
    2.1px 4.1px 5.2px -1.7px rgb(129, 163, 152),
    5px 10px 12.6px -2.5px rgb(140, 153, 149);
}

.closeModalBtn {
  color: #000;
  width: 3rem;
  aspect-ratio: 1 / 1;
  z-index: 10000;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 4%;
}

/* Desktop Version */
@media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    width: 100%;
  }

  .modal {
    padding-top: 0;
  }

  .close {
    font-size: 40px;
    line-height: 40px;
  }

  .modal-title {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 5%;
  }
}
