.form-reserve {
  display: flex;
  flex-flow: wrap;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  box-shadow:
    0.3px 0.5px 0.7px rgb(161, 231, 208),
    0.8px 1.6px 2px -0.8px rgb(132, 179, 163),
    2.1px 4.1px 5.2px -1.7px rgb(129, 163, 152),
    5px 10px 12.6px -2.5px rgb(140, 153, 149);
  background-color: hsl(74, 85%, 41%);
}

h1 {
  margin-top: 4%;
  font-size: 2rem;
  font-weight: 600;
  color: hsl(74, 85%, 41%);
  margin-bottom: 2%;
  text-align: center;
  line-height: 30px;
}

.form-inputs {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.form-inputs .form-input {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.btn-disbaled-reserve,
.btn-enable-reserve {
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  display: flex;
  width: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.form-reserve .form-input:focus {
  outline: none;
  border: 1px solid rgb(230, 227, 227);
}

.btn-enable-reserve {
  background-color: #fff;
  color: hsl(74, 85%, 41%);
  cursor: pointer;
  font-weight: bold;
  margin-top: 5%;
}

.btn-disbaled-reserve {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

.myreservation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: 30px;
}

.reservations-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  align-items: center;
  width: 100%;
}

.reservation-container {
  display: flex;
  line-height: 20px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  box-shadow:
    0.3px 0.5px 0.7px rgb(161, 231, 208),
    0.8px 1.6px 2px -0.8px rgb(132, 179, 163),
    2.1px 4.1px 5.2px -1.7px rgb(129, 163, 152),
    5px 10px 12.6px -2.5px rgb(140, 153, 149);
}

.start-date-sec,
.end-date-sec,
.city {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .reservation-container {
    display: flex;
    flex-flow: wrap;
    line-height: 20px;
    width: 100%;
    height: 100%;
    box-shadow:
      0.3px 0.5px 0.7px rgb(161, 231, 208),
      0.8px 1.6px 2px -0.8px rgb(132, 179, 163),
      2.1px 4.1px 5.2px -1.7px rgb(129, 163, 152),
      5px 10px 12.6px -2.5px rgb(140, 153, 149);
  }
}
