.register-section {
  background-image: url("../../assets/login.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.register-container {
  background-color: #b4b2ae3f;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(1px);
  padding: 80px;
  border-radius: 10px;
}

.register-title {
  text-align: center;
  color: rgba(129, 124, 116, 0.986);
  margin-bottom: 40px;
}

.register-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin-bottom: 5px;
}

form input {
  padding: 10px;
  border: 1px hidden;
  border-radius: 5px;
}

.button1:hover {
  color: #000000e5;
  background-color: #555453b4;
  font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 820px) {
  .register-section {
    position: relative;
    left: -100px;
    margin-top: -150px;
  }
}

@media only screen and (max-width: 540px) {
  .register-section {
    position: relative;
    left: 2px;
    top: 150px;
  }
}
