@import '../assets/styles/design';

.registration-page-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
}

.registration-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.registration-page-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1em;
}

.registration-page-nav-list {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  list-style: none;
  padding: 0;
}

.registration-page-nav-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: 600;
  background-color: $white;
  color: $orange;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 5em;
  text-decoration: none;
}

.registration-page-nav-list-item.active {
  background-color: $orange;
  color: $white;
  border: none;
  outline: 4px solid currentColor;
}

.registration-page-outlet {
  box-shadow: $shadow-medium;
  border-radius: 1em;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.75em 1.5em;
}

.form-input {
  padding: 0.5em 1em;
  height: 2.5em;
  background-color: transparent;
  border: 1px solid $dark-gray;
  border-radius: 5em;
  color: $dark-gray;
}

.form-input:focus {
  border: 1px solid $orange;
}

.form-button {
  height: 2.5em;
}

@media only screen and (min-width: 900px) {
  .registration-page-content {
    width: 40%;
  }
}
