$orange: hsl(18, 100%, 50%);
$green: hsl(74, 85%, 41%);
$black: hsl(0, 0%, 6%);
$light-gray: hsl(0, 0%, 96%);
$dark-gray: hsl(0, 0%, 62%);
$white: hsl(0, 0%, 100%);
$lime: hsl(178, 84%, 40%);

$shadow-low: 0.3px 0.5px 0.7px hsl(160deg, 36%, 56%),
  0.4px 0.8px 1px -1.2px hsl(160deg, 36%, 56%),
  1px 2px 2.5px -2.5px hsl(160deg, 36%, 56%);
$shadow-medium: 0.3px 0.5px 0.7px hsl(160deg, 36%, 56%),
  0.8px 1.6px 2px -0.8px hsl(160deg, 36%, 56%),
  2.1px 4.1px 5.2px -1.7px hsl(160deg, 36%, 56%),
  5px 10px 12.6px -2.5px hsl(160deg, 36%, 56%);
$shadow-high: 0.3px 0.5px 0.7px hsl(160deg, 36%, 56%),
  1.5px 2.9px 3.7px -0.4px hsl(160deg, 36%, 56%),
  2.7px 5.4px 6.8px -0.7px hsl(160deg, 36%, 56%),
  4.5px 8.9px 11.2px -1.1px hsl(160deg, 36%, 56%),
  7.1px 14.3px 18px -1.4px hsl(160deg, 36%, 56%),
  11.2px 22.3px 28.1px -1.8px hsl(160deg, 36%, 56%),
  17px 33.9px 42.7px -2.1px hsl(160deg, 36%, 56%),
  25px 50px 62.9px -2.5px hsl(160deg, 36%, 56%);

.button {
  background-color: $green;
  color: $white;
  border: none;
  border-radius: 5em;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: 700;
}
